html {
    scroll-behavior: smooth;
}

body {
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    color: #3e3e3e; /* Color de texto principal */
}

.tarjeta {
    width: 100vw;
}

.tarjeta h3,
.tarjeta p,
.tarjeta h5 {
    font-family: "Kaushan Script", cursive;
}

.tarjeta p {
    font-size: 1.3em;
    color: #3e3e3e; /* Color de texto */
}

.tarjeta h4 {
    font-family: "Parisienne", cursive;
    font-size: 1.5em;
    color: #3e3e3e; /* Color de texto */
}

.tarjeta .iglesia {
    font-family: "Tangerine", cursive;
    font-size: 2.1em;
    color: #3e3e3e; /* Color de texto */
}

.fecha {
    color: #debd90; /* Color principal para las fechas */
    font-size: 2em; /* Aumentar el tamaño de la fuente */
    font-weight: bold;
}

.wedding-card {
    background-image: url(assets/Fondo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90%;
    border: none;
    padding: 30px;
    color: #3e3e3e; /* Color de texto para todo el contenido de la tarjeta */
}

.card-title {
    font-family: 'Georgia', serif;
    color: #bec0b4;
    font-size: 2.5rem;
}

.card-subtitle {
    font-family: 'Georgia', serif;
    color: #bec0b4;
    font-size: 1.5rem;
}

.card-text {
    color: #bec0b4;
}

.rsvp-btn {
    background-color: #debd90;
    border: none;
    transition: background-color 0.3s;
    font-size: 1.2rem;
    padding: 10px 20px;
    border-radius: 5px;
}

.rsvp-btn:hover {
    background-color: #caa67a; /* Color de fondo al hacer hover */
}

/* Estilos del carrusel */
.carousel-inner img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    object-fit: cover; /* Asegura que la imagen cubra el contenedor sin deformarse */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(1);
}

@media (max-width: 768px) {
    .wedding-card {
        padding: 20px;
    }

    .card-title {
        font-size: 2rem;
    }

    .card-subtitle {
        font-size: 1.25rem;
    }

    .card-text {
        font-size: 1rem;
    }

    .carousel-inner img {
        border-radius: 10px;
    }
}

/* Footer Styles */
.footer {
    background-color: #343a40;
    padding: 20px 0;
    color: #fff;
    position: relative;
    width: 100%;
}

.footer .footer-text {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    line-height: 1.5em;
}

.footer .footer-link {
    color: #d9534f;
    text-decoration: none;
    font-weight: bold;
}

.footer .footer-link:hover {
    text-decoration: underline;
}

.footer .social-icons {
    margin-top: 10px;
}

.footer .social-icons a {
    color: #fff;
    margin: 0 10px;
    font-size: 1.5em;
    transition: color 0.3s;
}

.footer .social-icons a:hover {
    color: #d9534f;
}

@media (max-width: 768px) {
    .footer .footer-text {
        font-size: 0.9em;
    }

    .footer .social-icons a {
        font-size: 1.2em;
        margin: 0 5px;
    }
}

/* Ajustes para el carrousel y el contador */
#photoCarousel {
    max-width: 100%;
    margin: auto;
}

#photoCarousel .carousel-inner {
    border-radius: 15px;
}

#countdown {
    font-family: Roboto, sans-serif;
    font-weight: bold;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 10px;
    margin-top: 20px;
    text-align: center;
}

@media (max-width: 768px) {
    #countdown {
        font-size: 0.8em;
        padding: 5px;
    }
}
